
/**halloween usernames**/
a.author.may-blank.userinfo.tooltipstered {
    font-size: 0!important;
}
/**starts with A**/
a[data-username^="A"], a[data-username^="a"] {font-size: 0px;}
a[data-username^="A"]:before, a[data-username^="a"]:before {content: 'Earthworm Jim'; font-size: 12px; font-weight: bold;}
/**starts with B**/
a[data-username^="B"], a[data-username^="b"] {font-size: 0px;}
a[data-username^="B"]:before, a[data-username^="b"]:before {content: 'Samus Aran'; font-size: 12px; font-weight: bold;}
/**starts with C**/
a[data-username^="C"], a[data-username^="c"] {font-size: 0px;}
a[data-username^="C"]:before, a[data-username^="c"]:before {content: 'Issac Clarke'; font-size: 12px; font-weight: bold;}
/**starts with D**/
a[data-username^="D"], a[data-username^="d"] {font-size: 0px;}
a[data-username^="D"]:before, a[data-username^="d"]:before {content: 'Conker the Squirrel'; font-size: 12px; font-weight: bold;}
/**starts with E**/
a[data-username^="E"], a[data-username^="e"] {font-size: 0px;}
a[data-username^="E"]:before, a[data-username^="e"]:before {content: 'Bayonetta'; font-size: 12px; font-weight: bold;}
/**starts with F**/
a[data-username^="F"], a[data-username^="f"] {font-size: 0px;}
a[data-username^="F"]:before, a[data-username^="f"]:before {content: 'Gordan Freeman'; font-size: 12px; font-weight: bold;}
/**starts with G**/
a[data-username^="G"], a[data-username^="g"] {font-size: 0px;}
a[data-username^="G"]:before, a[data-username^="g"]:before {content: 'Dan Smith, Killer 7'; font-size: 12px; font-weight: bold;}
/**starts with H**/
a[data-username^="H"], a[data-username^="h"] {font-size: 0px;}
a[data-username^="H"]:before, a[data-username^="h"]:before {content: 'GLaDOS'; font-size: 12px; font-weight: bold;}
/**starts with I**/
a[data-username^="I"], a[data-username^="i"] {font-size: 0px;}
a[data-username^="I"]:before, a[data-username^="i"]:before {content: 'Max Payne'; font-size: 12px; font-weight: bold;}
/**starts with J**/
a[data-username^="J"], a[data-username^="j"] {font-size: 0px;}
a[data-username^="J"]:before, a[data-username^="j"]:before {content: 'Dante'; font-size: 12px; font-weight: bold;}
/**starts with K**/
a[data-username^="K"], a[data-username^="k"] {font-size: 0px;}
a[data-username^="K"]:before, a[data-username^="k"]:before {content: 'Chun Li'; font-size: 12px; font-weight: bold;}
/**starts with L**/
a[data-username^="L"], a[data-username^="l"] {font-size: 0px;}
a[data-username^="L"]:before, a[data-username^="l"]:before {content: 'Lara Croft'; font-size: 12px; font-weight: bold;}
/**starts with M**/
a[data-username^="M"], a[data-username^="m"] {font-size: 0px;}
a[data-username^="M"]:before, a[data-username^="m"]:before {content: 'Princess Toadstool'; font-size: 12px; font-weight: bold;}
/**starts with N**/
a[data-username^="N"], a[data-username^="n"] {font-size: 0px;}
a[data-username^="N"]:before, a[data-username^="n"]:before {content: 'Ezio Auditore Da Firenze'; font-size: 12px; font-weight: bold;}
/**starts with O**/
a[data-username^="O"], a[data-username^="o"] {font-size: 0px;}
a[data-username^="O"]:before, a[data-username^="o"]:before {content: 'Kratos'; font-size: 12px; font-weight: bold;}
/**starts with P**/
a[data-username^="P"], a[data-username^="p"] {font-size: 0px;}
a[data-username^="P"]:before, a[data-username^="p"]:before {content: 'Augustus Cole'; font-size: 12px; font-weight: bold;}
/**starts with Q**/
a[data-username^="Q"], a[data-username^="q"] {font-size: 0px;}
a[data-username^="Q"]:before, a[data-username^="q"]:before {content: 'Cole MacGrath'; font-size: 12px; font-weight: bold;}
/**starts with R**/
a[data-username^="R"], a[data-username^="r"] {font-size: 0px;}
a[data-username^="R"]:before, a[data-username^="r"]:before {content: 'Sonic the Hedgehog'; font-size: 12px; font-weight: bold;}
/**starts with S**/
a[data-username^="S"], a[data-username^="s"] {font-size: 0px;}
a[data-username^="S"]:before, a[data-username^="s"]:before {content: 'Amaterasu'; font-size: 12px; font-weight: bold;}
/**starts with T**/
a[data-username^="T"], a[data-username^="t"] {font-size: 0px;}
a[data-username^="T"]:before, a[data-username^="t"]:before {content: 'Marcus Fenix'; font-size: 12px; font-weight: bold;}
/**starts with U**/
a[data-username^="U"], a[data-username^="u"] {font-size: 0px;}
a[data-username^="U"]:before, a[data-username^="u"]:before {content: 'Corvo Attano'; font-size: 12px; font-weight: bold;}
/**starts with V**/
a[data-username^="V"], a[data-username^="v"] {font-size: 0px;}
a[data-username^="V"]:before, a[data-username^="v"]:before {content: 'Connor'; font-size: 12px; font-weight: bold;}
/**starts with W**/
a[data-username^="W"], a[data-username^="w"] {font-size: 0px;}
a[data-username^="W"]:before, a[data-username^="w"]:before {content: 'Lesuire Suit Larry'; font-size: 12px; font-weight: bold;}
/**starts with X**/
a[data-username^="X"], a[data-username^="x"] {font-size: 0px;}
a[data-username^="X"]:before, a[data-username^="x"]:before {content: 'Scorpion'; font-size: 12px; font-weight: bold;}
/**starts with Y**/
a[data-username^="Y"], a[data-username^="y"] {font-size: 0px;}
a[data-username^="Y"]:before, a[data-username^="y"]:before {content: 'Sub Zero'; font-size: 12px; font-weight: bold;}
/**starts with Z**/
a[data-username^="Z"], a[data-username^="z"] {font-size: 0px;}
a[data-username^="Z"]:before, a[data-username^="z"]:before {content: 'Juliet Starling'; font-size: 12px; font-weight: bold;}

/**starts with 1**/
a[data-username^="1"] {font-size: 0px;}
a[data-username^="1"]:before {content: 'The Kid'; font-size: 12px; font-weight: bold;}
/**starts with 2**/
a[data-username^="2"] {font-size: 0px;}
a[data-username^="2"]:before {content: 'Grimlock'; font-size: 12px; font-weight: bold;}
/**starts with 3**/
a[data-username^="3"] {font-size: 0px;}
a[data-username^="3"]:before {content: "American McGee's Alice"; font-size: 12px; font-weight: bold;}
/**starts with 4**/
a[data-username^="4"] {font-size: 0px;}
a[data-username^="4"]:before {content: 'John Marston'; font-size: 12px; font-weight: bold;}
/**starts with 5**/
a[data-username^="5"] {font-size: 0px;}
a[data-username^="5"]:before {content: 'Mattias Nilsson'; font-size: 12px; font-weight: bold;}
/**starts with 6**/
a[data-username^="6"] {font-size: 0px;}
a[data-username^="6"]:before {content: 'TheRealAmalek'; font-size: 12px; font-weight: bold;}
/**starts with 7**/
a[data-username^="7"] {font-size: 0px;}
a[data-username^="7"]:before {content: 'Alyx Vance'; font-size: 12px; font-weight: bold;}
/**starts with 8**/
a[data-username^="8"] {font-size: 0px;}
a[data-username^="8"]:before {content: 'Vaas Montenegro'; font-size: 12px; font-weight: bold;}
/**starts with 9**/
a[data-username^="9"] {font-size: 0px;}
a[data-username^="9"]:before {content: 'Donkey Kong'; font-size: 12px; font-weight: bold;}
/**starts with 0**/
a[data-username^="0"] {font-size: 0px;}
a[data-username^="0"]:before {content: 'Bowser'; font-size: 12px; font-weight: bold;}
/**april1 end**/


.dark #container a[href*="/user/"]:after,
.light #container a[href*="/user/"]:after  {
    padding: 15px 0 25px 40px;
}
