/**body{font-family:"Comic Sans","Comic Sans MS",Chalkboard,ChalkboardSE-Regular,"Marker Felt",Purisa}**/

/****user flair*** examples - https://voat.co/v/DogecoinDefenseForce/comments/290226     *********
Use the star ★ if you verify the user to guard against fake accounts ******************/

/**flair base **/
#container a[href*="/user/"]:after { 
content: ''; background: url(https://i.imgur.com/vdqmLL0.png) no-repeat;
  text-indent: 26px;
  color: #C39953;
  padding: 6px 6px 6px 24px;
  margin: 4px;
  background-position: 30px 0;
}
/**flair base end**/
/**mods**/
#container a[href$="/user/pembo210"]:after  {
  content: ' support shibe ★';
  background-position: 0 -364px;
}
#container a[href$="/user/pembo210"]:hover:after {
  content: ' support shibe ★ mod';
}

#container a[href$="/user/Healdb"]:after  {
  content: ' Mod shibe ★';
  background-position: 0 -2262px;
}
#container a[href$="/user/Healdb"]:hover:after  {
  content: ' Mod shibe ★ mod';
}

#container a[href$="/user/42points"]:after  {
  content: ' 42 shibe ★';
  background-position: 0 -1612px;
}
#container a[href$="/user/42points"]:hover:after  {
 content: ' 42 shibe ★ mod';
}
/**end mods**/
#container a[href$="/user/itsfuckingmohland"]:after  {
  content: ' fuckingmohland ★';
  background-position: 0 -2678px;
}

#container a[href$="/user/Fulvio"]:after  {
  content: ' DDF shibe ★';
  background-position: 0 -2964px;
}

#container a[href$="/user/DimiFW"]:after  {
  content: ' Ð 🚀🌙';
  background-position: 0 0;
}

#container a[href$="/user/OneGoodShibe"]:after  {
  content: ' GoodShibe ★';
  background-position: -5px 0px;
  background: url(https://i.imgur.com/MN1xYMB.png) no-repeat; /**goodshibe flair**/ 
  padding: 6px 6px 6px 32px;
}

#container a[href$="/user/fiddydoge"]:after,
#container a[href$="/user/fiddy_doge"]:after  {
  content: ' Loves Nutella ★';
  background-position: 0 -2210px;
}

#container a[href$="/user/peoplma_wow"]:after  {
  content: ' ';
  background-position: 0 -1716px;
}

#container a[href$="/user/shittymspainter"]:after  {
  content: ' ';
  background-position: 0 -4394px;
}

#container a[href$="/user/HirojaShibe"]:after  {
  content: ' PodcastShibe';
  background-position: 0 -1326px;
}

#container a[href$="/user/Squashy"]:after  {
  content: ' ';
  background-position: 0 -1040px;
}

#container a[href$="/user/joshtheimpaler"]:after  {
  content: ' loves to impale';
  background-position:0 -4654px;
}
#container a[href$="/user/sinister"]:after  {
  content: ' donated';
  background-position: 0 -1196px;
}
#container a[href$="/user/Hipsterul"]:after  {
  content: '';
  background-position: 0 -312px;
}

#container a[href$="/user/loupe_garrou"]:after, 
#container a[href$="/user/jepp73"]:after, 
#container a[href$="/user/fczuardi"]:after {
  content: ' ';
  background-position:0 -1170px; /**codershibe**/
}

#container a[href$="/user/Fornax"]:after {
  content: ' http://pixeldra.in';
  background-position: 0 -1222px; /**prog shibe**/
}

#container a[href$="/user/Madhacker_50"]:after {
  content: ' Ninja Shibe';
  background-position: 0 -598px; /**nimja shibe**/
}
/****user flair end****/



.leavemoderator {    background: none;}

/**dropdown menu**/
@media (min-width: 871px) {
.dark .side .md ul {
  background: #292929;
  border-bottom: 2px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-top: 1px solid #111;
}
.side .md ul li a:hover {
  background: #F1E2A1;
  border-right: 1px solid #BAA032;
  width: 150px;
}
.side .md ul li a {
  background: #FFEFAC;
  border-right: 1px solid #BAA032;
  width: 150px;
}
.dark .side .md ul li a {
  background: #292929;
  border-right: 1px solid #111;
  width: 150px;
}
.dark .side .md ul li a:hover {
  background: #222;
  border-right: 1px solid #111;
  width: 150px;
}
.side .md ul {
    display:inline-block;
    float:left;
    text-shadow:none;
    color:#111;
    font-family:verdana;
    opacity:1;
    margin:10px;
    padding:0;    border-radius:4px;
  background: #FFEFAC;
  border-bottom: 2px solid #BAA032;
  border-left: 1px solid #BAA032;
  border-right: 1px solid #BAA032;
  border-top: 1px solid #BAA032;
}
.side .md ul li {
    display:none;
    text-align:center;
    padding:0;
}
.side .md ul li:first-child, .md ul:hover li {
    display:block;
    text-align:left;
}
.side .md li a {
    color:#EEE;
    line-height:2em;
   font-size:10pt;
    text-align:center;
    display:inline;
    float:left;
    font-family:verdana;
}
.side .md li:first-child a {
  font-size: 10pt;
  border-radius: 4px;
}
.side .md first-child ul li:hover {
    background:#000;
}
.side .md li a:hover {
    color:#FFF;
}
.side .md ul:nth-of-type(1), .side .md ul:nth-of-type(2), 
.side .md ul:nth-of-type(3), .side .md ul:nth-of-type(4), 
.side .md ul:nth-of-type(5) {
    width:150px;
}
.side hr {
    display:none; 
}
.side .md ul:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 40px;
}
.side .md ul:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 200px;
}
.side .md ul:nth-of-type(3) {
    position: absolute;
    top: 0;
    left: 360px;
}
.side .md ul:nth-of-type(4) {
    position: absolute;
    top: 0;
    left: 520px;
}
.side .md ul:nth-of-type(5) {
    position: absolute;
    top: 0;
    left: 680px;
}
/**voat info**/
.side .md ul:nth-of-type(6) li a, 
.side .md ul:nth-of-type(7) li a {
  width: 250px;
}
.side .md ul:nth-of-type(6) li a:hover,
.side .md ul:nth-of-type(7) li a:hover {
  width: 250px;
}
.side .md ul:nth-of-type(6),
.side .md ul:nth-of-type(7) {
  position: relative;
  left: 3px;
  width: 250px;
  text-align: center;
}
.side .md ul:nth-of-type(6) li {
  padding: 13px 20px 1px 20px;
}
.dark .side .md ul:nth-of-type(6) li {
  color: #F8FFCB;
}
.side .md ul:nth-of-type(6) li:first-child, 
.side .md ul:nth-of-type(6) li:first-child:hover {
  padding: 0px !important;
}
.titlebox .bottom {
  float: left;
}
}  /*** end @media (min-width: 880px) ***/

a[href$="#dogegoat"] {
  content: 'url("https://i.imgur.com/Ord7ZHA.png") no-repeat';
  background: url("https://i.imgur.com/Ord7ZHA.png") no-repeat;
  background-size: 80px auto;
  width: 80px;
  height: 20px;
  padding: 20px 75px 20px 0px;
  line-height: 50px;
}

a.helplink.message-moderators-temporary-class,
div.side > div:nth-child(6) {
  display: none;
}

.link .usertext .md {
  margin: 8px 0px 0px -80px;
}
/***text post indent**/
.thumbnail {
  margin: 0 -74px 0 0;
}
.sitetable .entry {
  margin-right: 10px;
  padding-left: 80px;
  background: url("https://i.imgur.com/Ord7ZHA.png") no-repeat;
  background-position: -4px 0;
  background-size: 80px auto;
}
.commentarea .entry {
  margin-right: 0px!important;
  padding-left: 0px!important;
  background: none!important;
}
.commenttextarea {
padding: 0px;
}
.commentarea .entry .buttons li {
  line-height: 2em;
}

.link .tagline {
  font-size: 0px;
}
time {
  font-size: 12px;
}
span.userattrs {
  font-size: 12px;
  margin-left: 6px;
}
a.author.may-blank.userinfo.tooltipstered {
  font-size: 12px;
}
div.entry > p.tagline > time:after {
  content: ' ago by ';
}


h1.hover.whoaversename {
  text-align: center;
}

#sr-header-area {
    white-space:nowrap;
    text-transform:uppercase;
    font-size:120%;
    font-family: verdana;
    color:#000;
    line-height:17px;
    background:#f2ece0;
    border-bottom:2px solid #85743c;
}
.dark #sr-header-area { 
  background: #333;
  background-image:none!important;
}
#sr-header-area {
    height: 20px;
    width: 100%;
    font-family: sans-serif;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0px 0px 1px 0px #1A1A0A;
    background-color: #F0DF8A;
    z-index: 2;
    background-image: -webkit-linear-gradient(top,#fcf1ac,#cc9900)!important;
    background-image: -moz-linear-gradient(top,#fcf1ac,#cc9900)!important;
    background-image: linear-gradient(top,#fcf1ac,#cc9900)!important;
}
.dark #sr-header-area {
  border:none;
}
#sr-header-area .width-clip {
    position: absolute;
    left: 40px;
    right: 40px;
}
#sr-header-area .dropdown.srdrop {
    float: left;
    padding-left: 5px;
}
#sr-header-area .drop-choices.srdrop {
    background-color: #FFEFAD;
    margin-top: 2px;
    margin-left: -75px;
    width: 190px;
    font-size: 12px;
    text-align: center;
    box-shadow: -2px 4px 3px 0px #1A1A0A;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 10px;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 10px;
}
.dark .sr-list li a {
  text-shadow: 0px 0px 3px #000;
}

div#header-banner:before {
  content: '';
  background: url(https://i.imgur.com/4xn29uc.png) no-repeat;
  position: absolute;
  bottom: 60px;
  left: 40px;
  width: 600px;
  height: 149px;
}

#header {
  border: none;
  position: relative;
  background: url(http://i.imgur.com/6ZjriKv.png);
  background-repeat: repeat-x;
  height: 230px;
  margin: 0px;
  background-color: #000;
  -webkit-animation: 200s linear 0s normal none infinite running bannermove;
  -moz-animation: 200s linear 0s normal none infinite running bannermove;
  -ms-animation: 200s linear 0s normal none infinite running bannermove;
  -o-animation: 200s linear 0s normal none infinite running bannermove;
  animation: 200s linear 0s normal none infinite running bannermove;
}
/***header movement***/
 @keyframes bannermove { 0% {    background-position: 0px 0px; }     100% {    background-position: 1600px 0px; } }
 @-moz-keyframes bannermove { 0% {    background-position: 0px 0px; } 100% {    background-position: 1600px 0px; } }
 @-webkit-keyframes bannermove { 0% {    background-position: 0px 0px; } 100% {    background-position: 1600px 0px; } }
 @-ms-keyframes bannermove { 0% {    background-position: 0px 0px; } 100% {    background-position: 1600px 0px; } }
 @-o-keyframes bannermove { 0% {    background-position: 0px 0px; } 100% {    background-position: 1600px 0px; } }

#container {
  max-width: 1920px;
  padding-top: 50px;
}
.link .title {
  line-height: 26px;
}
.light .link {
  margin: 0;
  padding: 12px 0;
  border: 0;
  border-width: 1px;
  border-style: none none solid;
  border-color: #BCBCBC;
}
/***sidebar***/
h3 {
  text-align:center
}
.dark .side > div:nth-child(1) {
  background: #292929;
  border-bottom: 2px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-top: 1px solid #111;
  padding: 10px;
  border-radius: 5px;
}
.side > div:nth-child(1) {
  background: #FFEFAC;
  border-bottom: 2px solid #BAA032;
  border-left: 1px solid #BAA032;
  border-right: 1px solid #BAA032;
  border-top: 1px solid #BAA032;
  padding: 10px;
  border-radius: 5px;
}

.midcol {
  overflow: visible;
}
.md p {
  line-height: 150%;
  margin: 5px 0;
}
.side .md {
  overflow: visible;
}
.side .md ul {
  margin: 10px 1em;
}
.side.show-mobile-sidebar > .md {
  margin-top: -68px;
}

/****comment sidebar***/
.titlebox.submissioninfo {
  padding: 10px 2px 0px 2px !important;
  background: #FFEFAC;
  border-bottom: 2px solid #BAA032;
  border-left: 1px solid #BAA032;
  border-right: 1px solid #BAA032;
  border-top: 1px solid #BAA032;
  border-radius: 5px;
}
.dark .titlebox.submissioninfo {
  padding: 10px 2px 0px 2px !important;
  background: #292929;
  border-bottom: 2px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-top: 1px solid #111;
  border-radius: 5px;
}
.side > div:nth-child(2) > div > div:nth-child(1) {
  text-align: center;
  color: #8F8972;
  border: none;
}
p.h6 {
  text-align: center;
}
.titlebox.submissioninfo div:nth-child(6) .h6:first-child b {
  font-size: 0px;
}
.titlebox.submissioninfo div:nth-child(6) .h6:first-child {
  font-size: 0;
  display:none;
}
.titlebox.submissioninfo div:nth-child(6) .h6 {
  text-align: center;
}
.md table {
  font-size:10px;
  margin: 0px;
}
/** combine post stats**/
#container > div.side > div:nth-child(2) > div > div:nth-child(2) {
  padding: 0px 2px 24px 2px !important;
}
#container > div.side > div:nth-child(2) > div > div:nth-child(3) {
  display: none;
}
#container > div.side > div:nth-child(2) > div > div:nth-child(4) {
  background: none;
  border: none;
  padding: 0px 3px 1px 3px;
  margin-top: 15px;
  position: relative;
  top: -42px;
}
#container > div.side > div:nth-child(2) > div > div:nth-child(5) {
  display: none;
}
#container > div.side > div:nth-child(2) > div > div:nth-child(6) {
  background: none;
  border: none;
  padding: 0px 3px 1px 3px;
  margin-top: 22px;
  position: relative;
  top: -34px;
}

/** sidebar **/
.side .md blockquote > p:nth-child(6), 
.side .md blockquote > p:nth-child(7) {
  margin: 15px 0;
}
.side .md h5 {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #F2E09B;
  color: #333333;
  padding: 5px 20px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  margin-top: 10px;
  z-index: 100;
  border-color: #FFEFAC !important;
  position: relative;
  text-align: center;
  font-style: normal;
}

.side .md h5:after {
  display: block!important;
  content: " "!important;
  border-color: transparent #F2E09B transparent transparent!important;
  border-style: solid!important;
  border-width: 15px!important;
  height: 0px!important;
  width: 0px!important;
  position: absolute!important;
  z-index: -1!important;
  margin-left: -34px!important;
  margin-top: -9px!important;
}
.side .md h5 {
  margin-top: 35px;
}
/**small right triangle**/
.side .md h5 + blockquote:before {
  display: block !important;
  content: " ";
  border-color: transparent transparent transparent #F2E09B !important;
  border-style: solid !important;
  border-width: 15px !important;
  height: 0px !important;
  width: 0px !important;
  position: absolute !important;
  margin-left: 261px !important;
  margin-top: -13px !important;
}
/**small left triangle**/
.submission-score-box, 
.side .md h5 + blockquote {
  border: 1px solid #BAA032;
  background: none;
  margin: 0 0 -34px;
  font-style: normal;
  padding: 38px 18px 0 18px;
  background: rgba(255, 221, 0, 0.25);
  text-align: left;
  top: -40px;
  position: relative;
}

/**subscribe**/
.dark button.btn-whoaverse-paging.btn-xs.btn-default {
  background: #292929;
  border-bottom: 2px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-top: 1px solid #111;
}
.titlebox .btn-whoaverse-paging, 
.titlebox .btn-unsub  {
  background: #FFEFAC;
  border-bottom: 2px solid #BAA032;
  border-left: 1px solid #BAA032;
  border-right: 1px solid #BAA032;
  border-top: 1px solid #BAA032;
  border-radius: 5px;
  display: block;
  color: #555;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 6px 0;
  text-transform: uppercase;
  width: 80%;
  margin: 5px 30px;
}
.titlebox .btn-sub{
  background: #FFEFAC;
  border-bottom: 2px solid #BAA032;
  border-left: 1px solid #BAA032;
  border-right: 1px solid #BAA032;
  border-top: 1px solid #BAA032;
  color: #555;
}
.titlebox .btn-whoaverse-paging:hover,
 .titlebox .btn-unsub:hover {
  background: #F1E2A1;
  border-bottom: 2px solid #BAA032;
  border-left: 1px solid #BAA032;
  border-right: 1px solid #BAA032;
  border-top: 1px solid #BAA032;
}
.titlebox .btn-sub:hover{
  background: #F1E2A1;
  border-bottom: 2px solid #BAA032;
  border-left: 1px solid #BAA032;
  border-right: 1px solid #BAA032;
  border-top: 1px solid #BAA032;
}
.titlebox .subscribers, 
.titlebox .users-online {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
/**subscriber count**/
.users-online.fuzzed > span.word, 
.subscribers > span.word {
  display:none;
}
.subscribers #subscriberCount:after {
  content: ' shibes';
}
.users-online.fuzzed > span.number:after {
  content: ' on the rocket';
}
.subscribers, 
.dark .subscribers {
  position: relative;
}

/*********/
div.logged-in span.user a[title$="Profile"]:after {
  content: ' is wow';
}

a[href$="http://dogecoin.com/?ref=voat"] {
  content: '';
  background-image: url(https://i.imgur.com/ZyIU85t.png );
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
}

/** hey kid want some wow**/
a[href$="http://dogecoin.com/?ref=voat"]:before {
  content: 'hey, kid';
  position: relative;
  top: 80px;
  white-space: nowrap;
  left: -40px;
  -webkit-animation: smooth 30s linear infinite;
  -moz-animation: smooth 30s linear infinite;
  -o-animation: smooth 30s linear infinite;
  -ms-animation: smooth 30s linear infinite;
  animation: smooth 30s linear infinite;;
}

a[href$="http://dogecoin.com/?ref=voat"]:after {
  content: 'want some wow';
  position: relative;
  left: 40px;
  top: 80px;
  white-space: nowrap;
  -webkit-animation: smooth 30s linear infinite;
  -moz-animation: smooth 30s linear infinite;
  -o-animation: smooth 30s linear infinite;
  -ms-animation: smooth 30s linear infinite;
  animation: smooth 30s linear infinite;
}
@-webkit-keyframes smooth { 0% { opacity: 0;}    10% { opacity: 0;}    90% { opacity: 0;}    96% { opacity: 1;}    100% { opacity: 0;}}
@-moz-keyframes smooth {0% { opacity: 0;}    10% { opacity: 0;}    90% { opacity: 0;}    96% { opacity: 1;}    100% { opacity: 0;}}
@-o-keyframes smooth {0% { opacity: 0;}    10% { opacity: 0;}    90% { opacity: 0;}    96% { opacity: 1;}    100% { opacity: 0;}}
@keyframes smooth {0% { opacity: 0;}    10% { opacity: 0;}    90% { opacity: 0;}    96% { opacity: 1;}    100% { opacity: 0;}}

/**hover spin**/
a[href$="http://dogecoin.com/?ref=voat"]:hover {
  content: '';
  background-image: url(https://i.imgur.com/ZyIU85t.png );
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {    from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg); }}
@-moz-keyframes spin {    from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); }}
@-webkit-keyframes spin {   from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); }}
@keyframes spin {   from { transform:rotate(0deg); } to { transform:rotate(360deg); }}


/**coingecko**/
a[href$="https://www.coingecko.com/en/price_charts/dogecoin/usd?ref=voat"]:after {
  content: " ";
  position: relative;
  display: block;
  background:url("https://www.coingecko.com/en/widget_component/ticker/dogecoin/usd.jpg") no-repeat scroll -135px -10px rgba(0, 0, 0, 0);
  width: 200px;
  height: 108px;
  right: -35px;
}

a[href$="https://www.coingecko.com/en/price_charts/dogecoin/btc?ref=voat"]:after {
  content: " ";
  position: relative;
  display: block;
  background: url("https://www.coingecko.com/en/widget_component/ticker/dogecoin/btc.jpg") no-repeat scroll -135px -10px rgba(0, 0, 0, 0);
  right: -35px;
  width: 200px;
  height: 108px;
}

.dark a[href$="https://www.coingecko.com/en/price_charts/dogecoin/btc?ref=voat"]:after,  
.dark a[href$="https://www.coingecko.com/en/price_charts/dogecoin/usd?ref=voat"]:after {
  -webkit-filter: invert(1);
  filter: invert(1);
}

/** links**/
a {
  color:#69591B !important;
}
a:hover {
  color:#69591B !important;
  text-decoration:underline;
}

.dark a {
  color:#F8FFCB !important;
}
.dark a:hover {
  color:#fff !important;
  text-decoration:underline;
}

/**reply link**/
.commentarea .entry:hover a[onclick^="return reply"], 
.commentarea .entry:hover .dark a[onclick^="return reply"] {
  background-color: #F1DF9B; /**#F1DF9B**/
  border: 2px solid #F9D67C;
  color: #69591B !important;
  padding: 2px 6px !important;
  border-radius: 7px;
}
a[onclick^="return reply"], 
.dark a[onclick^="return reply"] {
  border: 2px solid #F9D67C;
  padding: 2px 6px !important;
  border-radius: 7px;
}
a[onclick^="return reply"]:hover, 
.dark a[onclick^="return reply"]:hover {
  color: #69591B !important;
}




/**doge goat**/
a#header-img-a {
  content: url(https://i.imgur.com/Ord7ZHA.png);
  z-index: 98;
  background-image: url(https://i.imgur.com/Ord7ZHA.png);
  box-sizing: border-box;
  font-size: 0;
  height: 60px;
  width: 82px;
}
#header-img {
    height: 0;
}
/**submit buttons**/
.side .btn-whoaverse.contribute:hover, 
.side .btn-whoaverse.contribute, 
.side .dark .btn-whoaverse.contribute:hover, 
.side .dark .btn-whoaverse.contribute {display:none}

.tabmenu li.disabled a.contribute:hover {
  background: #F1E2A1;
  border-color: #BAA032;
}
.tabmenu li.disabled a.contribute {
  background: #FFEFAC;
  border-color: #BAA032;
}
.dark .tabmenu li.disabled a.contribute:hover {
  background: #F1E2A1;
  border-color: #BAA032;
  color: #5B4E17 !important;
}
.dark .tabmenu li.disabled a.contribute {
  background: #F1DF9B;
  border-color: #BAA032;
  color: #5B4E17 !important;
}



/**mod username sidebar spacing**/
.side ul.content li { margin: 6px 6px 6px 6px;}

/**flair height spacing**/
.tagline {  line-height: 25px;}

span.promoted {
  background-color: #F1DF9B;
  border: 2px solid #C28930;
  color: #69591B !important;
  background: url(https://i.imgur.com/cRY9Twg.png) #F1DF9B no-repeat;
  padding: 4px 40px 4px 7px;
  background-position: 48px -2px;
  border-radius: 5px;
  line-height: 14px;
  max-width: 80px;
  min-width: 60px;
  font-weight: bold;
}

/**post**flair**/
.fl-announcement, 
.fl-security, 
.fl-idea, 
.fl-request,
.fl-resolved, 
.fl-wow, 
.fl-terrible-gif {
  display: inline-block;
  font-weight: bold;
}
.fl-idea, .fl-request {
  background-color:  #4399cd;
  border: 2px solid #4399cd; 
  color: #fff !important;
}
.fl-resolved {
  background-color: #008e03;
  border:  2px solid #008e03; 
  color: #fff !important;
}
.fl-announcement, .fl-security {
  background-color: #a43a3a;
  border: 2px solid #a43a3a; 
  color: #fff !important;
}
.fl-wow {
  background-color: #F1DF9B;
  border: 2px solid #C28930;
  color: #69591B !important;
  background: url(https://i.imgur.com/cRY9Twg.png) #F1DF9B no-repeat;
  padding: 4px 36px 4px 7px;
  background-position: 36px -2px;
  border-radius: 5px;
  font-family: "Comic Sans","Comic Sans MS",Chalkboard,ChalkboardSE-Regular,"Marker Felt",Purisa;
}
.fl-terrible-gif {
  background-color: #F1DF9B;
  border: 2px solid #F9D67C;
  color: #69591B !important;
}
/**comic sans**/
#header-account {
  font-family: "Comic Sans","Comic Sans MS",Chalkboard,ChalkboardSE-Regular,"Marker Felt",Purisa;
}
.submission.stickied p a.author.may-blank.userinfo.tooltipstered {
  font-size: 9px;
}
.submission.stickied,
 button.btn-whoaverse-paging.btn-xs.btn-default.btn-unsub,
 button.btn-whoaverse-paging.btn-xs.btn-default.btn-blocksubverse,
 span.subscribers, p.users-online.fuzzed,
 input#q,
 label[for=Limit_the_search_to_current_subverse] {
  font-family: "Comic Sans","Comic Sans MS",Chalkboard,ChalkboardSE-Regular,"Marker Felt",Purisa;
}

/**log off easter egg**/
#header-account > div > a:nth-child(11):hover:after {
  background: url(https://i.imgur.com/Ord7ZHA.png) no-repeat;
  padding: 30px 1px 1px 50px;
  position: relative;
  content: ' ';
  top: -41px;
  right: -43px;
  margin-left: -51px;
}

/** up voat coin ***/
.arrow-upvoted {
position:relative;background:none
}
.arrow-upvoted:after {
position:absolute;content:" ";
height:16px;width:15px;display:block;
-webkit-animation:upVoteFirst 1.5s ease 0s 1,upVote 1.5s steps(40,end) 0s infinite;
-moz-animation:upVoteFirst 1.5s ease 0s 1,upVote 1.5s steps(40,end) 0s infinite;
-ms-animation:upVoteFirst 1.5s ease 0s 1,upVote 1.5s steps(40,end) 0s infinite;
-o-animation:upVoteFirst 1.5s ease 0s 1,upVote 1.5s steps(40,end) 0s infinite;
animation:upVoteFirst 1.5s ease 0s 1,upVote 1.5s steps(40,end) 0s infinite;
background-image:url(https://i.imgur.com/lu8JPVL.png)!important
}
@-webkit-keyframes upVoteFirst{0%{opacity:0;top:-15px}19.04%{top:5px}35.23%{opacity:1;top:-12px}50.47%{top:4px}62.85%{top:-9px}74.28%{top:3px}82.85%{top:-6px}90.47%{top:2px}95.23%{top:-3px}99.04%{top:1px}100%{top:0px}}@-webkit-keyframes upVoteFirst{0%{opacity:0;top:-15px}19.04%{top:5px}35.23%{opacity:1;top:-12px}50.47%{top:4px}62.85%{top:-9px}74.28%{top:3px}82.85%{top:-6px}90.47%{top:2px}95.23%{top:-3px}99.04%{top:1px}100%{top:0px}}@-moz-keyframes upVoteFirst{0%{opacity:0;top:-15px}19.04%{top:5px}35.23%{opacity:1;top:-12px}50.47%{top:4px}62.85%{top:-9px}74.28%{top:3px}82.85%{top:-6px}90.47%{top:2px}95.23%{top:-3px}99.04%{top:1px}100%{top:0px}}@-ms-keyframes upVoteFirst{0%{opacity:0;top:-15px}19.04%{top:5px}35.23%{opacity:1;top:-12px}50.47%{top:4px}62.85%{top:-9px}74.28%{top:3px}82.85%{top:-6px}90.47%{top:2px}95.23%{top:-3px}99.04%{top:1px}100%{top:0px}}@-o-keyframes upVoteFirst{0%{opacity:0;top:-15px}19.04%{top:5px}35.23%{opacity:1;top:-12px}50.47%{top:4px}62.85%{top:-9px}74.28%{top:3px}82.85%{top:-6px}90.47%{top:2px}95.23%{top:-3px}99.04%{top:1px}100%{top:0px}}@keyframes upVoteFirst{0%{opacity:0;top:-15px}19.04%{top:5px}35.23%{opacity:1;top:-12px}50.47%{top:4px}62.85%{top:-9px}74.28%{top:3px}82.85%{top:-6px}90.47%{top:2px}95.23%{top:-3px}99.04%{top:1px}100%{top:0px}}@-webkit-keyframes upVote{0%{background-position:0px 0px}100%{background-position:0px -600px}}@-moz-keyframes upVote{0%{background-position:0px 0px}100%{background-position:0px -600px}}@-ms-keyframes upVote{0%{background-position:0px 0px}100%{background-position:0px -600px}}@-o-keyframes upVote{0%{background-position:0px 0px}100%{background-position:0px -600px}}@keyframes upVote{0%{background-position:0px 0px}100%{background-position:0px -600px}}@keyframes up{0%{transform:rotateY(0deg);background-position:-240px 0px}49%{background-position:-240px 0px}49.001%{background-position:0px 0px}100%{transform:rotateY(360deg);background-position:0px 0px}}@-webkit-keyframes up{0%{-webkit-transform:rotateY(0deg);background-position:-240px 0px}49%{background-position:-240px 0px}49.001%{background-position:0px 0px}100%{-webkit-transform:rotateY(360deg);background-position:0px 0px}}@-moz-keyframes up{0%{-moz-transform:rotateY(0deg);background-position:-240px 0px}49%{background-position:-240px 0px}49.001%{background-position:0px 0px}100%{-moz-transform:rotateY(360deg);background-position:0px 0px}}@-ms-keyframes up{0%{-ms-transform:rotateY(0deg);background-position:-240px 0px}49%{background-position:-240px 0px}49.001%{background-position:0px 0px}100%{-ms-transform:rotateY(360deg);background-position:0px 0px}}@-o-keyframes up{0%{-o-transform:rotateY(0deg);background-position:-240px 0px}49%{background-position:-240px 0px}49.001%{background-position:0px 0px}100%{-o-transform:rotateY(360deg);background-position:0px 0px}}
